*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #444444;
    color: #ffffff;
    
}
.full{
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    margin-top: 5%;
}

.main{
display: flex;
justify-content: center;
padding:2rem;
}

.main button{
    padding: 10px 20px;
    color:#ffffff;
    background-color: #664fe8;
    border-radius: 5%;
    margin: 0rem 1rem 0rem 1rem;
    border:none;
}


h1{
    display: flex;
    align-items: center;
    justify-content: center;
}